<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>

<app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
<app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
<app-text-input formControlName="phoneNumber" [label]="'Phone Number'" [type]="'tel'"></app-text-input>
<app-text-input formControlName="password" [label]="'Password'" [type]="'password'" ></app-text-input>
<app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'"></app-text-input>

<div class="text-danger mt-1" *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
  Passwords do not match.
</div>



<!-- ✅ address group -->
<div formGroupName="address" class="mt-4">
  <app-text-input formControlName="firstName" [label]="'First Name'" ></app-text-input>
  <app-text-input formControlName="lastName" [label]="'Last Name'"></app-text-input>
  <app-text-input formControlName="street" [label]="'Street'"></app-text-input>
  <app-text-input formControlName="city" [label]="'City'"></app-text-input>
  <app-text-input formControlName="country" [label]="'Country'"></app-text-input>
</div>


      

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>

            <button  class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</div>
